<nav>
    {%- assign sorted_pages = site.pages | sort: "ordinal" -%}
    {%- for link in sorted_pages -%}
        {%- unless link.exclude or link.url contains "/assets/" -%}
            {%- capture active -%}
                {%- if page.url == link.url -%}
                    active
                {%- endif -%}
            {%- endcapture -%}
            <a href="{{ link.url }}" class="btn {{ active }}">{{ link.title }}</a>
        {%- endunless -%}
    {%- endfor -%}
    {%- comment -%}
        hardcoding this for now since it links offsite (even though it's mapped to a subdomain)
    {%- endcomment -%}
    <a href="http://blog.thenighthouse.org/" class="btn">Blog</a>
</nav>