<nav>
    {%- assign sorted_pages = site.pages | sort: "ordinal" -%}
    {%- for link in sorted_pages -%}
        {%- unless link.exclude or link.url contains "/assets/" -%}
            {%- capture btn_class -%}
                {%- if page.url == link.url -%}
                    btn active
                {%- else -%}
                    btn
                {%- endif -%}
            {%- endcapture -%}
            <a href="{{ link.url }}" class="{{ btn_class }}">{{ link.title }}</a>
        {%- endunless -%}
    {%- endfor -%}
    {%- capture blog_link -%}
        <a href="https://blog.thenighthouse.org/" class="btn">Blog</a>
    {%- endcapture -%}
    {%- capture twitter_link -%}
        <a href="https://twitter.com/thenighthouse1/" class="btn" target="_blank">Twitter</a>
    {%- endcapture -%}
    {{ blog_link }}{{ twitter_link }}
</nav>