<h2 class="tc underline">{{ include.name }}</h2>
{%- for item in include.items -%}
    {%- if item.type == "role" -%}
        {%- include molecules/role_details.html name=item.name id=item.id description=item.description show_button=item.show_button -%}
    {%- elsif item.type == "note" -%}
        {%- include molecules/role_note.html description=item.description -%}
    {%- elsif item.type == "text" -%}
        {%- include molecules/role_text.html description=item.description -%}
    {%- endif -%}
{%- endfor -%}
