{%- capture copy_command -%}
    {%- if include.role.id.size > 7 -%}
        "n.iam <@&{{ include.role.id }}>"
    {%- elsif include.role.id.size == 7 -%}
        "n.iam {{ include.role.id }}"
    {%- endif -%}
{%- endcapture -%}
{%- if copy_command.size > 0 and include.role.show_button == true -%}
    <a class="a-btn link f6 dim ph1 pv1 mb1 mr2 dib white bg-dark-green" data-clipboard-text={{ copy_command }} href="#0">Copy</a>
{%- endif -%}
{%- include atoms/roles/role.html param=include.role.id -%}
{%- if include.role.text.size > 0 -%}
    <br />
    {%- include atoms/roles/text.html text=include.role.text -%}
{%- endif -%}
