{%- if include.user == "staff" -%}
    {%- assign is_staff = true -%}
{%- else -%}
    {%- assign is_staff = false -%}
{%- endif -%}
{%- if include.user == "member" -%}
    {%- assign is_member = true -%}
{%- else -%}
    {%- assign is_member = false -%}
{%- endif -%}
{%- capture mode -%}
    {%- if is_staff -%}
        {%- unless include.role.hide_button_staff -%}
            staff
        {%- else -%}
            hide
        {%- endunless -%}
    {%- elsif is_member -%}
        {%- unless include.role.hide_button_member -%}
            member
        {%- else -%}
            hide
        {%- endunless -%}
    {%- else -%}
        hide
    {%- endif -%}
{%- endcapture -%}
{%- assign role_command = include.role.name | split: " | " | first -%}
<div class="flex flex-wrap items-center justify-start">
    {%- unless mode == "hide" -%}
        {%- capture assign_command -%}
            {%- if mode == "staff" -%}
                "y^giverole @user {{ include.role.id }}"
            {%- elsif mode == "member" -%}
                "y^role {{ role_command }}"
            {%- endif -%}
        {%- endcapture -%}
        {%- capture unassign_command -%}
            {%- if mode == "staff" -%}
                "y^takerole @user {{ include.role.id }}"
            {%- elsif mode == "member" -%}
                "y^role {{ role_command }}"
            {%- endif -%}
        {%- endcapture -%}
        <div>
            <a class="a-btn link f6 dim ph1 pv1 mb1 mr2 dib white bg-dark-green" data-clipboard-text={{ assign_command }} href="#0">Add</a>
        </div>
        <div>
            <a class="a-btn link f6 dim ph1 pv1 mb1 mr2 dib white bg-dark-red" data-clipboard-text={{ unassign_command }} href="#0">Remove</a>
        </div>
    {%- endunless -%}
    <div>
        {%- include atoms/roles/role.html param=include.role.id -%}
    </div>
    <div class="w-100 mt1 mb4">
        {%- if include.role.text.size > 0 -%}
            {%- include atoms/roles/text.html text=include.role.text -%}
        {%- endif -%}
    </div>
</div>
