{%- capture role_id -%}
    {%- if include.role.show_button == true -%}
        {%- if include.role.id.size > 7 -%}
            <@&{{ include.role.id }}>
        {%- elsif include.role.id.size == 7 -%}
            {{ include.role.id }}
        {%- endif -%}
    {%- endif -%}
{%- endcapture -%}
{%- capture assign_command -%}
    {%- if role_id.size > 0 -%}
        "n.iam {{role_id}}"
    {%- endif -%}
{%- endcapture -%}
{%- capture unassign_command -%}
    {%- if role_id.size > 0 -%}
        "n.iamn {{role_id}}"
    {%- endif -%}
{%- endcapture -%}

<div class="flex flex-wrap items-center justify-start">
    {%- if assign_command.size > 0 -%}
        <div>
            <a class="a-btn link f6 dim ph1 pv1 mb1 mr2 dib white bg-dark-green" data-clipboard-text={{ assign_command }} href="#0">Add</a>
        </div>
    {%- endif -%}
    {%- if unassign_command.size > 0 -%}
        <div>
            <a class="a-btn link f6 dim ph1 pv1 mb1 mr2 dib white bg-dark-red" data-clipboard-text={{ unassign_command }} href="#0">Remove</a>
        </div>
    {%- endif -%}
    <div>
        {%- include atoms/roles/role.html param=include.role.id -%}
    </div>
    <div class="w-100 mt1 mb4">
        {%- if include.role.text.size > 0 -%}
            {%- include atoms/roles/text.html text=include.role.text -%}
        {%- endif -%}
    </div>
</div>
