---
---

@import "{{ site.theme }}";

/* Theme overrides */

.page-header {
  background-color: #000000;
  background-image: none;
}

/* Base styles */

body {
  color: #ccffff;
  background-color: #25272a;
  font-family: 'Play', sans-serif; 
}

a {
  color: #0f95ce;
}

code {
  font-size: 0.9em;
  background-color: #2f3136;
  padding: 0.2em;
}

/* Background colors */

.cb-3d110a {
  background-color: #3d110a;
}

.cb-393c41 {
  background-color: #393c41;
}
