---
---

@import "{{ site.theme }}";

/* Theme overrides */

.page-header {
  background-color: #000000;
  background-image: none;
}

.btn {
  margin-bottom: 0;
  color: #ffffff;
  background-color: none;
  border-color: none;
  border-style: none;
  border-width: 0;
  padding: 0;
}

/* Base styles */

body {
  color: #ccffff;
  background-color: #25272a;
  font-family: 'Play', sans-serif; 
}

a {
  color: #0f95ce;
}

code {
  font-size: 0.9em;
  background-color: #333439;
  padding: 0.2em;
}

/* Background colors */

.cb-3d110a {
  background-color: #3d110a;
}

.cb-393c41 {
  background-color: #393c41;
}

/* Font colors */

.c-0066ff {
  color: #0066ff;
}

.c-008080 {
  color: #008080;
}

.c-009973 {
  color: #009973;
}

.c-00ccff {
  color: #00ccff;
}

.c-0dcf4f {
  color: #0dcf4f;
}

.c-11806a {
  color: #11806a;
}

.c-17ac86 {
  color: #17ac86;
}

.c-1a7939 {
  color: #1a7939;
}

.c-1a7de5 {
  color: #1a7de5;
}

.c-1d1d2f {
  color: #1d1d2f;
}

.c-3d110a {
  color: #3d110a;
}

.c-40bea2 {
  color: #40bea2;
}

.c-42d7f4 {
  color: #42d7f4;
}

.c-4d6875 {
  color: #4D6875;
}

.c-5911e8 {
  color: #5911e8;
}

.c-63ced4 {
  color: #63ced4;
}

.c-6600ff {
  color: #6600ff;
}

.c-66ffff {
  color: #66ffff;
}

.c-7289da {
  color: #7289da;
}

.c-7dff00 {
  color: #7dff00;
}

.c-808588 {
  color: #808588;
}

.c-843da4 {
  color: #843da4;
}

.c-88cc00 {
  color: #88cc00;
}

.c-8c0cc5 {
  color: #8c0cc5;
}

.c-9933ff {
  color: #9933ff;
}

.c-9966ff {
  color: #9966ff;
}

.c-aa32e6 {
  color: #aa32e6;
}

.c-b4570f {
  color: #b4570f;
}

.c-b62e21 {
  color: #b62e21;
}

.c-b8ffdf {
  color: #b8ffdf;
}

.c-c5b3ff {
  color: #c5b3ff;
}

.c-c87bff {
  color: #c87bff;
}

.c-cb1a45 {
  color: #cb1a45;
}

.c-cc00cc {
  color: #cc00cc;
}
 
.c-ccccff {
  color: #ccccff;
}

.c-d9c8e4 {
  color: #d9c8e4;
}

.c-deaddd {
  color: #deaddd;
}

.c-e4b400 {
  color: #e4b400;
}

.c-e6b800 {
  color: #e6b800;
}

.c-e7ee6 {
  color: #e7ee6;
}

.c-e91e63 {
  color: #e91e63;
}

.c-ff0000 {
  color: #ff0000;
}

.c-ff0090 {
  color: #ff0090;
}

.c-ff3333 {
  color: #ff3333;
}

.c-ff6dd6 {
  color: #ff6dd6;
}

.c-ff7503 {
  color: #ff7503;
}

.c-ff7bfa {
  color: #ff7bfa;
}

.c-ff9960 {
  color: #ff9960;
}

.c-ffc800 {
  color: #ffc800;
}

.c-ffcde9 {
  color: #ffcde9;
}

.c-ffd200 {
  color: #ffd200;
}

.c-ffd700 {
  color: #ffd700;
}
